{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Profile</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="text-muted">Default delivery details.</p>
            <form action="{% url 'profile' %}" method="POST" id="user-profile-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-black my-3">Update</button>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <p class="text-muted">Order History</p>
            {% for order in orders %}
                {{ order }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        let countrySelected = $('#id_default_country').val();
        if(!countrySelected) {
            $('#id_default_country').css('color', '#707585');
        };
        $('#id_default_country').change(function() {
            countrySelected = $(this).val();
            if(!countrySelected) {
                $(this).css('color', '#707585');
            } else {
                $(this).css('color', '#000');
            }
        });
    </script>
{% endblock %}