{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if product %}
    <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-5 col-lg-4 text-center text-md-start">
            <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
            <small class="text-muted">SKU: {{ product.sku }}</small>
            <h3>Price: €{{ product.price }}</h3>
            <hr class="mt-auto mx-auto mx-md-0">
            <p>{{ product.description }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3 row justify-content-center justify-content-lg-start">
                    <div class="col-8 col-lg-5">
                        <label for="quantity" class="form-label">Quantity</label>
                            <input type="number" name="quantity" min="1" max="99" value="1" class="form-control" id="quantity"
                                aria-describedby="quantity">
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <a href="{% url 'products' %}" class="btn btn-outline-black"><i class="fas fa-arrow-left"></i> Keep
                        Shopping</a>
                    <input type="submit" class="btn btn-outline-black" value="Add to Cart">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
    {% else %}
    <div class="py-5">
        <h2 class="text-center">Product not found. <a href="{% url 'home' %}"><u>Go back</u></a>.</h2>
    </div>
    {% endif %}
</div>
{% endblock %}