{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% if product %}
    <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 offset-md-1 offset-lg-2">
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-12 col-md-5 col-lg-4 text-center text-md-start">
            <h1 class="mt-4 mt-md-0">{{ product.name }}</h1>
            <small class="text-muted">SKU: {{ product.sku }}</small>
            <h3>Price: €{{ product.price }}</h3>
            <hr class="mt-auto mx-auto mx-md-0">
            <p>{{ product.description }}</p>
        </div>
    </div>
    {% else %}
    <div class="py-5">
        <h2 class="text-center">Product not found. <a href="{% url 'home' %}"><u>Go back</u></a>.</h2>
    </div>
    {% endif %}
</div>
{% endblock %}